html{font-size: 10px;
    
}

body{
  font-family: calibiri,Arial ;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin: 1cm;
  align-items: flex-start;
}
#main {
  margin: 3rem 1rem;
  padding: 5rem;
  border-radius: 2.5%;
  background: #eee;
  display:flex;
  flex-direction: column;
  
}
#paragraph{
  margin-left: 3rem ;
  margin-right: 3rem;
}
h1{
  font-size: 4rem;
  margin-bottom: 0;
  line-height: 1.2;
}

h2{
  font-size: 3.25rem;
}

#image1 {
  max-height: 40rem;
  display: block;
  height: auto;
  margin: 0 auto;
  border-radius: 2.5%;
}

#image2 {
  max-height: 30rem;
  display: block;
  height: auto;
  margin: 0 auto;
  border-radius: 2.5%;
}

#img-div {
  background: white;
  padding: 3rem;
  margin: 0 auto;
  width: 60rem;
  
  border-radius: 5%;
}



#img-caption {
  margin: 1rem 0 .5rem 0;
  align-self: center;
  font-size: 1.4rem;
}



