html{font-size: 10px;
    
}

body{
  font-family: calibiri,Arial ;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin: 1cm;
  align-items: flex-start;
}
#main {
  margin: 3rem 1rem;
  padding: 5rem;
  border-radius: 2.5%;
  background: #eee;
  display:flex;
  flex-direction: column;
  
}


h1{
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#404040;
}

h3{
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#404040;
}

#image1 {
  max-height: 40rem;
  display: block;
  height: auto;
  margin: 0 auto;
  border-radius: 2.5%;
}

#image2 {
  max-height: 30rem;
  display: block;
  height: auto;
  margin: 0 auto;
  border-radius: 2.5%;
}

#img-div {
  background: white;
  padding: 3rem;
  margin: 0 auto;
  width: 60rem;
  
  border-radius: 5%;
}

#paragraph{
  margin-left: 3rem ;
  margin-right: 3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  color: #4d4d4d;
}

#img-caption{
  margin: 1rem 0 .5rem 0;
  align-self: center;
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #4d4d4d;
}


footer{
  text-align: end;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color:#4d4d4d;
}
